<nav class="navbar navbar-light bg-light">
   <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">
      <img src="../../../assets/imgs/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      FullStack Web
   </a>
   <div style="align-content: left;">
      <a [routerLink]="['']" routerLinkActive="router-link-active">Inicio</a>
      &nbsp;
      <a [routerLink]="['/pociones']" routerLinkActive="router-link-active">Pociones</a>
   </div>
</nav>